{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1></h1>
      <hr>
      <h3>REGULAMIN ŚWIADCZENIA USŁUG WETERYNARYJNYCH PRZEZ KLINIKĘ WETERYNARYJNĄ</h3>
      <hr>
        <p>§1</p>
        <p>INFORMACJE OGÓLNE</p>
        <p>Niniejszy Regulamin określa zasady korzystania z usług weterynaryjnych świadczonych przez Całodobową klinikę weterynaryjną</p>
        <p>§2</p>
        <p>DEFINICJE I POJĘCIA</p>
        <p>Użyte w Regulaminie definicje i pojęcia oznaczają:</p>
        <p><strong>Klinika Weterynaryjna</strong> – zakład leczniczy o statusie przychodni weterynaryjnej (w rozumieniu ustawy z dnia 18 grudnia 2003r. o zakładach leczniczych dla zwierząt), zajmujący się profilaktyką, diagnostyką, leczeniem i rehabilitacją zwierząt domowych</p>
        <p><strong>Regulamin Świadczenia Usług Weterynaryjnych (RŚUW)</strong> – niniejszy Regulamin Świadczenia Usług Weterynaryjnych wraz ze wszystkimi późniejszymi zmianami i załącznikami.</p>
        <p><strong>Cennik usług</strong> – stanowi załącznik Nr 1 do Regulaminu Świadczenia Usług Weterynaryjnych i jest dostępny do wglądu w Recepcji</p>
        <p><strong>Opiekun zwierzęcia</strong> - osoba fizyczna, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej władająca zwierzęciem, również tymczasowo.</p>
        <p>i coś tam dalej...</p>

    </div>
  </div>
</div>
{% endblock content %}